@import "./navbar/style.css";
@import "./login/style.css";
@import "./mainController/style.css";
@import "./users/style.css";
@import "./footer/style.css";

body {
  background-color: beige;
  padding: 0;
  font-family: 'Montserrat', cursive;
}

.app {
  background-color: white;
  width: 880px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
