.maxoft-button {
  background: white;
  color: blue;
  padding: 10px;
  font-family: 'Montserrat', cursive;
  box-shadow: 0px 0px 10px #999;
  border: 2px solid #5bc0de;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.maxoft-button:focus {
  outline:0;
}

.maxoft-button:active {
  box-shadow: 0px 0px 20px #5bc0de;
}
