.sherwood-button {
  background: green;
  color: gold;
  padding: 10px;
  font-family: 'Bangers', cursive;
  background-color: #5cb85c;
  box-shadow: 0px 0px 10px #999;
  border: 2px solid green;
  border-radius: 3px;
  cursor: pointer;
}

.sherwood-button:focus {
  outline:0;
}

.sherwood-button:active {
  box-shadow: 0px 0px 50px gold;
}
