input {
  outline: 0;
  border: 2px solid #5bc0de;
  border-radius: 5px;
  color: blue;
  padding: 7px;
  font-family: 'Montserrat', cursive;
}

input:focus {
  box-shadow: 0 0 20px #5bc0de;
}
input:active {

}
