.link-button {
  text-decoration: underline !important;
  border: 1px solid beige !important;
  background-color: transparent !important;
  font-family: 'Bangers', cursive !important;
  color: green !important;
  cursor: pointer !important;
}

.link-button:focus {
  outline:0 !important;
}

.link-button:hover {
  color: #5cb85c !important;
}
