.sherwood-modal {
  background-color: beige;
  z-index: 21;
  border-radius: 3px;
  position: absolute;
  animation: sherwoodModalAppear 0.4s forwards;
}

.sherwood-modal-background {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  background-color: green;
  opacity: 0.3;
  z-index: 20;
  animation: sherwoodModalBackgroundAppear 0.4s forwards;
}

.large-modal {
  left: 20%;
  width: 60%;
}

.sherwood-modal-content-container {
  margin: 20px;
}

@keyframes sherwoodModalAppear {
  0% {opacity: 0; transform: translateY(-50vh);}
  80% { transform: translateY(20vh);}
  100% {opacity: 1; transform: translateY(10vh);}
}

@keyframes sherwoodModalBackgroundAppear {
  0% {opacity: 0;}
  100% {opacity: 0.3;}
}

.sherwood-modal-leave {
  animation: sherwoodModalLeave 0.5s forwards;
}

@keyframes sherwoodModalLeave {
  0% {opacity: 1; transform: translateY(10vh);}
  20% { transform: translateY(20vh);}
  100% {opacity: 0; transform: translateY(-50vh);}
}

.sherwood-modal-background-leave {
  animation: sherwoodModalBackgroundLeave 0.5s forwards;
}

@keyframes sherwoodModalBackgroundLeave {
  0% {opacity: 0.5;}
  100% {opacity: 0;}
}
